/* line 2, ../sass/style.scss */
body {
  text-align: center;
}

/* line 7, ../sass/style.scss */
#wrapper {
  margin: 3em auto;
  width: 50em;
}
/* line 16, ../sass/style.scss */
#wrapper svg:nth-child(2n+1) circle {
  fill: orange;
}
/* line 21, ../sass/style.scss */
#wrapper svg:nth-child(2n+1) polygon {
  fill: black;
}
