body
{
	text-align: center;
}

#wrapper
{
	margin: 3em auto;
	width: 50em;

	svg
	{
		height: 60px;
		width: 60px;

		&:nth-child(2n+1)
		{
			circle
			{
				fill: orange;
			}

			polygon
			{
				fill: black;
			}
		}
	}
}